In [1]:
from sklearn.metrics import mean_squared_error
from math import sqrt

# Imports
import os
import pickle
import pandas as pd
from datetime import datetime
import numpy as np
import skfuzzy as fuzz
from skfuzzy import control as ctrl
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold, cross_val_score
import flModel
%matplotlib inline

In [11]:
DATA_FILE = 'data/model_vectors.csv'
df = pd.read_csv(DATA_FILE)
# df = df.dropna()
df

,Unnamed: 0,Body,Brand,Model,Price,Year,HP,Torque,Braking,RoadHolding,FuelEconomy
0,3,Sedan,Audi,A4,51800,2017,3.099128,3.733226,2.783251,4.074627,2.346729
1,4,Sedan,BMW,330i,45900,2017,3.039725,3.411165,2.392113,2.494184,2.346729
2,5,Sedan,Infinity,Q50,39900,2018,2.456814,3.411165,5.000000,3.380597,2.172897
3,6,Sedan,Lexus,IS 300,41050,2017,3.901058,3.819109,2.283381,2.686567,1.912150
4,7,Sedan,BMW,440i,56850,2018,4.108966,4.957059,2.420934,3.149254,2.172897
5,8,Sedan,Mercedes,C300,44700,2018,2.935771,3.733226,2.635468,5.000000,2.172897
6,11,SUV,Volvo,XC90,59150,2018,4.049564,4.205582,2.406437,2.686567,1.999066
7,12,SUV,Lexus,RX 350,56500,2017,3.737702,3.604402,4.359606,2.373982,1.912150
8,13,SUV,BMW,X5,69950,2016,3.811955,4.312936,2.435606,2.404033,2.085982
9,14,SUV,Audi,Q7,74750,2017,3.099128,3.733226,2.160618,2.404033,1.912150
10,15,SUV,Mercedes Benz,GLC 300,50300,2017,2.935771,3.733226,5.000000,2.494184,2.085982
11,16,SUV,Range Rover,Velar,62000,2018,5.000000,5.000000,2.296429,2.494184,1.738318
12,20,Sedan,Honda,Civic,19990,2018,2.126089,2.052769,2.536946,4.768657,2.775126
13,21,Sedan,Mazda,3,15900,2018,2.173335,2.145549,2.435606,2.917910,2.580303
14,22,Sedan,Toyota,Camry,35845,2018,3.826805,3.604402,2.406437,3.380597,2.259813
15,23,Sedan,Kia,Forte,15495,2017,1.736306,1.530879,4.162562,2.434083,2.710185
16,24,Sedan,Hyundai,Elantra,15999,2017,1.511885,1.809220,2.322977,2.404033,2.969949
17,25,Hatchback,Chevy,Cruze,16395,2018,1.618190,3.024691,2.435606,4.074627,2.905008
18,28,Hatchback,Honda,Fit,15190,2018,1.535509,1.322122,2.245112,2.434083,2.645244
19,29,Hatchback,Toyota,Prius,27480,2017,1.429204,1.217744,2.232639,2.464133,4.009002
20,30,Hatchback,VW,Golf,19595,2017,2.007973,2.307915,2.392113,2.686567,2.515363
21,31,Hatchback,Ford,Focus,16178,2017,1.889857,1.693244,2.245112,2.494184,2.515363
22,32,Sedan,Subaru,Impreza,19995,2017,1.795364,1.681647,2.363971,2.464133,2.259813
23,33,Hatchback,Fiat,500,16245,2018,1.192972,1.136561,3.965517,2.917910,2.085982
24,36,Hatchback,Hyundai,Santa Fe,28599,2018,3.663449,3.282340,2.257725,2.343932,1.825234
25,37,Hatchback,Ford,Escape,26199,2017,2.995174,3.776167,2.184103,2.917910,2.172897
26,38,Hatchback,Kia,Sportage,25095,2017,2.876369,3.454106,2.309626,2.494184,1.825234
27,39,Hatchback,Nissan,Rogue,26148,2017,2.007973,2.029574,2.257725,2.434083,2.346729
28,40,Hatchback,Honda,CRV AWD,27090,2017,2.244205,2.075964,2.420934,2.464133,2.515363
29,41,Hatchback,Toyota,RAV4 SE AWD,27750,2016,2.078842,1.994781,2.184103,2.253781,2.085982
30,43,Sedan,Acura,csx,25790,2011,1.830799,1.612061,3.669951,NaN,3.045929
31,44,Coupe,Smart Fortwo,Pure,16700,2006,0.472464,0.846622,4.507389,2.073478,5.000000

In [12]:
df.dtypes

Unnamed: 0       int64
Body            object
Brand           object
Model           object
Price            int64
Year             int64
HP             float64
Torque         float64
Braking        float64
RoadHolding    float64
FuelEconomy    float64
dtype: object

In [47]:
user_vector = [3.2,4.2,2.0,3.3]

def calc_rmse(row, user_vec):
    car_vector = [row.HP, row.Torque, row.Braking, row.RoadHolding]
    return sqrt(mean_squared_error(user_vec, car_vector))

df['rmse_score'] = df.apply(lambda x: calc_rmse(x,user_vector), axis=1)
df.sort_values(by=['rmse_score'])

,Unnamed: 0,Body,Brand,Model,Price,Year,HP,Torque,Braking,RoadHolding,FuelEconomy,rmse_score
9,9,SUV,Audi,Q7,74750,2017.0,3.128217,3.730637,2.304301,2.386635,2.519606,0.536724
3,3,Sedan,Lexus,IS 300,41050,2017.0,3.917876,3.816695,2.435227,2.549020,2.519606,0.594908
15,15,Sedan,Toyota,Camry,"35,845",2018.0,3.844759,3.601549,3.175182,3.284314,2.811417,0.734023
1,1,Sedan,BMW,330i,45900,2017.0,3.069724,3.407917,3.023114,2.476134,0.000000,0.769722
4,4,Sedan,BMW,440i,56850,2018.0,4.122602,4.956971,3.327251,3.039216,2.738464,0.901915
11,11,SUV,Range Rover,Velar,62000,2018.0,5.000000,5.000000,2.449143,2.476134,2.300834,1.090927
14,14,Sedan,Mazda,3,15900,2018.0,2.200536,2.143188,3.479319,2.794118,3.103228,1.385073
5,5,Sedan,Mercedes,C300,44700,2018.0,2.967361,3.730637,4.543796,5.000000,2.738464,1.552041
0,0,Sedan,Audi,A4,51800,2017.0,3.128217,3.730637,5.000000,4.019608,0.000000,1.560712
13,13,Sedan,Honda,Civic,19990,2018.0,2.152698,2.050510,4.239659,4.754902,3.322086,1.792342

In [13]:
def generate_user_vec(driving_log, web_map, m):
    run_df = m.format_df([driving_log])

    num_of_brakes_average, num_of_brakes_stepped = m.count_braking_steps(run_df)

    average_acc = run_df[run_df['acc'] > 0]['acc'].mean()
    average_rpm = run_df['rpm'].mean()
    average_vel = run_df['speed'].mean()
    average_throttle = run_df['throttle'].mean()
    average_lateral = run_df['lateral_velocity'].apply(abs).mean()


    run_df['deacc'] = -1 * run_df['acc'] 
    run_df = run_df.query('deacc > 1')

    average_deacc = run_df['deacc'].mean()

    brake_score = m.compute_brake(average_deacc, num_of_brakes_stepped)
    hp_score = m.compute_hp(average_acc, average_rpm)
    torque_score = m.compute_torque(average_vel, average_throttle)
    lateral_score = m.calculate_score(average_lateral, m.average_lateral_overall, m.max_lateral)
    
    
    
    fuel_economy = 1.0
    fuel_pref = web_map.get('fuel_economy', 1)
    if fuel_pref == 2:
        fuel_economy = 3
    elif fuel_pref == 3:
        fuel_economy = 5.0
    return [hp_score, torque_score, brake_score, lateral_score, fuel_economy]

def norm_fuel(row, web_map):
#     return 1.0
    fuel_economy = 1.0
    fuel_pref = web_map.get('fuel_economy', 1)
    if fuel_pref == 2:
        if row.FuelEconomy >= 3:
            fuel_economy = 3
        else:
            fuel_economy = row.FuelEconomy
    elif fuel_pref == 3:
        fuel_economy = row.FuelEconomy
    return fuel_economy

# if fuel economy > 2.5 = 2.5


def calc_rmse(row, user_vec):
    car_vector = [row.HP, row.Torque, row.Braking, row.RoadHolding, row.FuelEconomyNorm]
    return sqrt(mean_squared_error(user_vec, car_vector))

def filter_cars(row, web_map=dict()):
    cond1 = row.Price > web_map.get('price_min', 0)
    cond2 = row.Price < web_map.get('price_max', 100000)
    cond3 = True
    fuel_pref = web_map.get('fuel_economy', 1)
    if fuel_pref == 2 and row.FuelEconomy < 1:
        cond3 = False
    elif fuel_pref == 3 and row.FuelEconomy < 2:
        cond3 = False
    return cond1 & cond2 & cond3

def find_car(models_file, driving_log, web_inputs, fuzzy_model):
    user_vector = generate_user_vec(driving_log, web_inputs, fuzzy_model)
    df = pd.read_csv(models_file).dropna()
    # Apply filtering
    df = df[df.apply(lambda x: filter_cars(x, web_inputs), axis=1)]
#     df[df.apply(lambda x: x['b'] > x['c'], axis=1)]
    df['FuelEconomyNorm'] = df.apply(lambda x: norm_fuel(x, web_inputs), axis=1)
    df['rmse_score'] = df.apply(lambda x: calc_rmse(x,user_vector), axis=1)
    df['percent_match'] = df.apply(lambda x: (5 - x.rmse_score) * 20, axis=1)
    rmse_norm_factor = df.rmse_score.min() / 2
    df['percent_match_norm'] = df.apply(lambda x: (5 - x.rmse_score + rmse_norm_factor) * 20, axis=1)
    return df.sort_values(by=['rmse_score'])

In [21]:
web_mapping = {
    'price_min': 10000,
    'price_max': 45000,
    'fuel_economy': 1, # 1,2,3
}

with open('models/fuzzy_models.p', 'rb') as handle:
    fuzzy_models = pickle.load(handle)
    
find_car(DATA_FILE, 'hwd_data2/run_40.csv', web_mapping, fuzzy_models)

,Unnamed: 0,Body,Brand,Model,Price,Year,HP,Torque,Braking,RoadHolding,FuelEconomy,FuelEconomyNorm,rmse_score,percent_match,percent_match_norm
26,38,Hatchback,Kia,Sportage,25095,2017,2.876369,3.454106,2.309626,2.494184,1.825234,1.0,0.857536,82.849277,91.424639
24,36,Hatchback,Hyundai,Santa Fe,28599,2018,3.663449,3.282340,2.257725,2.343932,1.825234,1.0,0.889451,82.210982,90.786343
3,6,Sedan,Lexus,IS 300,41050,2017,3.901058,3.819109,2.283381,2.686567,1.912150,1.0,0.902730,81.945391,90.520752
25,37,Hatchback,Ford,Escape,26199,2017,2.995174,3.776167,2.184103,2.917910,2.172897,1.0,0.953866,80.922678,89.498040
2,5,Sedan,Infinity,Q50,39900,2018,2.456814,3.411165,5.000000,3.380597,2.172897,1.0,1.048971,79.020585,87.595946
14,22,Sedan,Toyota,Camry,35845,2018,3.826805,3.604402,2.406437,3.380597,2.259813,1.0,1.070331,78.593380,87.168741
28,40,Hatchback,Honda,CRV AWD,27090,2017,2.244205,2.075964,2.420934,2.464133,2.515363,1.0,1.264615,74.707693,83.283055
20,30,Hatchback,VW,Golf,19595,2017,2.007973,2.307915,2.392113,2.686567,2.515363,1.0,1.272256,74.554887,83.130248
13,21,Sedan,Mazda,3,15900,2018,2.173335,2.145549,2.435606,2.917910,2.580303,1.0,1.323479,73.530425,82.105786
29,41,Hatchback,Toyota,RAV4 SE AWD,27750,2016,2.078842,1.994781,2.184103,2.253781,2.085982,1.0,1.350699,72.986029,81.561391
27,39,Hatchback,Nissan,Rogue,26148,2017,2.007973,2.029574,2.257725,2.434083,2.346729,1.0,1.352887,72.942268,81.517629
15,23,Sedan,Kia,Forte,15495,2017,1.736306,1.530879,4.162562,2.434083,2.710185,1.0,1.405038,71.899239,80.474600
22,32,Sedan,Subaru,Impreza,19995,2017,1.795364,1.681647,2.363971,2.464133,2.259813,1.0,1.486199,70.276029,78.851390
21,31,Hatchback,Ford,Focus,16178,2017,1.889857,1.693244,2.245112,2.494184,2.515363,1.0,1.492662,70.146762,78.722123
16,24,Sedan,Hyundai,Elantra,15999,2017,1.511885,1.809220,2.322977,2.404033,2.969949,1.0,1.506262,69.874769,78.450130
17,25,Hatchback,Chevy,Cruze,16395,2018,1.618190,3.024691,2.435606,4.074627,2.905008,1.0,1.531334,69.373320,77.948682
5,8,Sedan,Mercedes,C300,44700,2018,2.935771,3.733226,2.635468,5.000000,2.172897,1.0,1.608921,67.821584,76.396945
18,28,Hatchback,Honda,Fit,15190,2018,1.535509,1.322122,2.245112,2.434083,2.645244,1.0,1.678389,66.432228,75.007589
23,33,Hatchback,Fiat,500,16245,2018,1.192972,1.136561,3.965517,2.917910,2.085982,1.0,1.727342,65.453159,74.028520
19,29,Hatchback,Toyota,Prius,27480,2017,1.429204,1.217744,2.232639,2.464133,4.009002,1.0,1.740536,65.189279,73.764640
12,20,Sedan,Honda,Civic,19990,2018,2.126089,2.052769,2.536946,4.768657,2.775126,1.0,1.848763,63.024732,71.600093
31,44,Coupe,Smart Fortwo,Pure,16700,2006,0.472464,0.846622,4.507389,2.073478,5.000000,1.0,1.959825,60.803507,69.378869

In [199]:
find_car(DATA_FILE, None, None)

AttributeError: 'NoneType' object has no attribute 'get'